-if (d) {
    
p You must sign up for training in advance using <a href="https://docs.google.com/spreadsheets/d/1cndzDY6QOFtZQvFk8RblpSdFejtuZujACdLc4w-d3PY/edit#gid=1577570812">this spreadsheet</a>

h2 This week at #{d.location_name}
p
    include this-week-details.pug
h2 Coming up...
table
    each d in data
        tr(class='main-table')
            td
                include future-week-details.pug
-} else {
h2 No future trainings scheduled
-}
