table(class='one-week')
    include rows/when-row.pug
    include rows/where-row.pug
    include rows/what-row.pug
    include rows/parking-row.pug
    include rows/starts-row.pug
    include rows/cost-row.pug
    include rows/other-info-row.pug
    include rows/organiser-row.pug