-function renderUnix(unixTime){
    -return (new Date(unixTime*1000)).toLocaleString("en-gb", {weekday: "long", year: "numeric", month: "long", day: "numeric"})
-}

tr
    td When
    td #{renderUnix(d.date_start)}